<link href="/stylesheets/accordionmenu.css" rel="stylesheet" type="text/css" />
<script src="/js/accordionmenu.js" type="text/javascript"></script>

<style>
@media(min-width:768px) {
    body {
        margin-left: 225px;
    }
}

</style>

{{> studentsidebar}}

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <b>{{myclass.name}}</b>
                </h1>
                <h4><b>Teacher:</b> {{myclass.teacher}}</h4>
            </div>
        </div>
        <!-- /.row -->

    <div id="acdnmenu">
        <ul>
            {{#each myclass.lectures}}
                <li><b>Lecture {{addone @index}}</b>
                    <ul style="background:transparent url(2.jpg) no-repeat 160px bottom;">
                    {{#each this.questions}}
                        <li><a href='/studentInput?q={{this.questionName}}'>{{this.question}}</a></li>
                    {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    </div>

</div>
    <!-- /.container-fluid -->

</div>



