<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<style>
@media(min-width:768px) {
    body {
        margin-left: 225px;
    }
}
</style>
{{> teachersidebar}}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <b>{{myclass.name}}</b>
                </h1>
                <h4><b>Teacher:</b> {{myclass.teacher}}</h4>
            </div>
        </div>
        <!-- /.row -->
        <form id="form-createlectture" action="/teacher-lecturecreate?c={{myclass.name}}" method="post">
            <div class="form-group">
                <label>Create a new lecture</label>
                <div id="submit">
                    <input type="submit" class="btn btn-default" id="btn-login" value="Create">
                </div>
            </div>
        </form>
        <div id="accordion">
            {{#each myclass.lectures}}
                <h3 id="{{@index}}"><b>Lecture {{addone @index}}</b></h3>
                <div>
                    <p>
                        {{#each this.questions}}
                            <a href='/studentInput?q={{this.questionName}}'>{{addone @index}}. {{this.question}}</a><br>
                        {{/each}}

                        <form id="form-createlectture" action="/teacher-lecturecreate" method="post">
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" id="btn-login" value="Create a Question">
                            </div>
                        </form>
                    </p>
                </div>
            {{/each}}
        </div>

        <!-- <div id="acdnmenu">
            <ul>
                {{#each myclass.lectures}}
                <li><b>Lecture {{addone @index}}</b>
                    <ul style="background:transparent url(2.jpg) no-repeat 160px bottom;">
                        {{#each this.questions}}
                        <li><a href='/questionGraph?q={{this.questionName}}'>{{this.question}}</a></li>
                        {{/each}}
                        <form id="form-createlectture" action="/teacher-questioncreate?l={{@index}}" method="post">
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" id="btn-login" value="Create a Question">
                            </div>
                        </form>
                    </ul>
                </li>
                {{/each}}
            </ul>
        </div> -->
        <div id="submit">
            <input type="submit" class="btn pull-right btn-default" id="btn-login" value="Unlock">
        </div>
        <div id="submit">
            <input type="submit" class="btn pull-right btn-default" id="btn-login" value="Lock">
        </div>
        <div class="form-group">
            <label>Selects</label>
            <select class="form-control">
                {{#each myclass.lectures}}
                <option>Lecture {{addone @index}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<script>

$(function() {
    $( "#accordion" ).accordion();
});

</script>